# ignore the secure_rds file
# it has password information in it
__pycache__
.DS_Store
logs/*
env/
venv/
info.conf
key.conf
**/__pycache__
**/.vscode
easy_export.bat
requirements/glove.6B.50d.txt
**/.zip