AWSTemplateFormatVersion: 2010-09-09
Parameters:
  ApplicationName:
    Type: String
  DockerURI:
    Type: String
  BaseURL:
    Type: String
  RdsHost:
    Type: String
  RdsUser:
    Type: String
  RdsPass:
    Type: String
  S3USERKEY:
    Type: String
  S3USERSECRET:
    Type: String
  S3USERREGION:
    Type: String
  GRAPHDBURI:
    Type: String
  GRAPHDBUSERNAME:
    Type: String
  GRAPHDBPASSWORD:
    Type: String
  COGNITOREGION:
    Type: String
  COGNITOUSERPOOLID:
    Type: String
  COGNITOCLIENTIDS:
    Type: String
  COGNITODOMAIN:
    Type: String
  COGNITOCLIENTIDSWAGGER:
    Type: String
  ListenerRulePriority:
    Type: Number
  DpmAuthentication:
    Type: String
    Description: Secret pulled from Secrets Manager
  CPU:
    Type: String
    Default: '256'
  Memory:
    Type: String
    Default: '1024'
Resources:
  ECSTask:
    Type: 'AWS::ECS::TaskDefinition'
    Properties:
      Family: !Sub '${ApplicationName}-task'
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      Cpu: !Ref CPU
      Memory: !Ref Memory
      ExecutionRoleArn: 'arn:aws:iam::068606542379:role/ecsTaskExecutionRole'
      ContainerDefinitions:
        - Name: !Sub '${ApplicationName}-container'
          Image: !Ref DockerURI
          PortMappings:
            - ContainerPort: 80
          Environment:
            - Name: ENV
              Value: 'PROD'
            - Name: RDS_HOST
              Value: !Ref RdsHost
            - Name: RDS_USER
              Value: !Ref RdsUser
            - Name: RDS_PASS
              Value: !Ref RdsPass
            - Name: S3_USER_ACCESS_KEY_ID
              Value: !Ref S3USERKEY
            - Name: S3_USER_SECRET_ACCESS_KEY
              Value: !Ref S3USERSECRET
            - Name: S3_USER_REGION
              Value: !Ref S3USERREGION
            - Name: GRAPHDB_URI
              Value: !Ref GRAPHDBURI
            - Name: GRAPHDB_USERNAME
              Value: !Ref GRAPHDBUSERNAME
            - Name: GRAPHDB_PASSWORD
              Value: !Ref GRAPHDBPASSWORD
            - Name: BASE_URL
              Value: !Ref BaseURL
            - Name: DPM_AUTH_TOKEN
              Value: !Ref DpmAuthentication
            - Name: COGNITO_REGION
              Value: !Ref COGNITOREGION
            - Name: COGNITO_USER_POOL_ID
              Value: !Ref COGNITOUSERPOOLID
            - Name: COGNITO_CLIENT_IDS
              Value: !Ref COGNITOCLIENTIDS
            - Name: COGNITO_DOMAIN
              Value: !Ref COGNITODOMAIN
            - Name: COGNITO_CLIENT_ID_SWAGGER
              Value: !Ref COGNITOCLIENTIDSWAGGER
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref CloudWatchLogGroup
              awslogs-region: ca-central-1
              awslogs-stream-prefix: ecs
  ECSService:
    Type: 'AWS::ECS::Service'
    Properties:
      Cluster: 'arn:aws:ecs:ca-central-1:068606542379:cluster/Services-Cluster'
      ServiceName: !Sub '${ApplicationName}-service'
      TaskDefinition: !Ref ECSTask
      LaunchType: FARGATE
      DesiredCount: 1
      LoadBalancers:
        - ContainerName: !Sub '${ApplicationName}-container'
          ContainerPort: 80
          LoadBalancerName: !Ref 'AWS::NoValue'
          TargetGroupArn: !Ref LoadBalancerTargetGroup
      NetworkConfiguration:
        AwsvpcConfiguration:
          SecurityGroups:
            - sg-0745def5ab607708f
          Subnets:
            - subnet-0a7b2b49c837e20d4
            - subnet-076d31a7ef3fd143d
            - subnet-0a881c6d76f2a4652
    DependsOn: LoadBalancerListenerRule
  LoadBalancerTargetGroup:
    Type: 'AWS::ElasticLoadBalancingV2::TargetGroup'
    Properties:
      Name: !Sub '${ApplicationName}-target'
      Protocol: HTTP
      TargetType: ip
      Port: 80
      VpcId: vpc-6bedde03
      HealthCheckProtocol: HTTP
      HealthCheckPort: traffic-port
      HealthCheckPath: !Sub '${BaseURL}/'
      HealthCheckIntervalSeconds: 30
      HealthCheckTimeoutSeconds: 5
      HealthyThresholdCount: 2
      UnhealthyThresholdCount: 5
      Matcher:
        HttpCode: "200-302"
  LoadBalancerListenerRule:
    Type: 'AWS::ElasticLoadBalancingV2::ListenerRule'
    Properties:
      ListenerArn: >-
        arn:aws:elasticloadbalancing:ca-central-1:068606542379:listener/app/GBADs-ALB/cd5c98187c9a830e/79930f5016683693
      Priority: !Ref ListenerRulePriority
      Conditions:
        - Field: path-pattern
          Values:
            - !Sub '${BaseURL}*'
      Actions:
        - Type: forward
          TargetGroupArn: !Ref LoadBalancerTargetGroup
  CloudWatchLogGroup:
    Type: 'AWS::Logs::LogGroup'
    Properties:
      LogGroupName: !Sub '/ecs/${ApplicationName}-logs'
      RetentionInDays: 5



