fastapi==0.103.1
pandas==2.1.0
pathlib
wheel==0.41.2
psycopg2==2.9.5
typing
uvicorn==0.23.2
boto3==1.28.44
botocore==1.31.44
cffi==1.15.1
cryptography==41.0.3
Deprecated==1.2.14
jmespath==1.0.1
jwcrypto==1.5.0
numpy==1.25.2
pycparser==2.21
PyJWT==2.8.0
python-dateutil==2.8.2
pytz==2023.3
s3transfer==0.6.2
setuptools==68.2.0
six==1.16.0
tzdata==2023.3
urllib3<1.27,>=1.25.4
wrapt==1.15.0
