on:
  push:
    branches: [ "main" , "master" ]

  workflow_dispatch:

name: Build & Deploy

jobs:
  commit-hash:
    name: Commit SHA
    runs-on: ubuntu-latest
    outputs:
      sha7: ${{ steps.commit-hash.outputs.sha7 }}
    steps:
      - name: Get Commit SHA
        id: commit-hash
        run: echo "sha7=$(echo ${GITHUB_SHA} | cut -c1-7)" >> "$GITHUB_OUTPUT"

  docker:
    uses: GBADsInformatics/DevopsWorkflows/.github/workflows/docker.yml@v2.0
    secrets: inherit
    with:
      IMAGE_NAME: api

  aws:
    needs: [commit-hash, docker]
    uses: GBADsInformatics/DevopsWorkflows/.github/workflows/aws.yml@v2.0
    secrets:
      template-input: >-
        ApplicationName=api,
        DockerURI=gbadsinformatics/api:${{ needs.commit-hash.outputs.sha7 }},
        BaseURL=/api,
        ListenerRulePriority=2,
        RdsHost=${{ secrets.RDS_DPM_HOST }},
        RdsUser=${{ secrets.RDS_DPM_USER }},
        RdsPass=${{ secrets.RDS_DPM_PASS }},
        S3USERKEY=${{ secrets.S3_USER_KEY }},
        S3USERSECRET=${{ secrets.S3_USER_SECRET }},
        S3USERREGION=${{ secrets.S3_USER_REGION }},
        GRAPHDBURI=${{ secrets.GRAPHDB_URI }},
        GRAPHDBUSERNAME=${{ secrets.GRAPHDB_USERNAME }},
        GRAPHDBPASSWORD=${{ secrets.GRAPHDB_PASSWORD }},
        DpmAuthentication=${{ secrets.DPM_AUTH_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    with:
      stack-name: api-stack
